body{
    background-color: #424242!important;
    font-family: 'Ubuntu', sans-serif;
    color: #FAFAFA;
}
.navBar{
    position:fixed;
    z-index:1;
    top:0;
    width:101%;
    background-color: #212121;
}
.navLogo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #FAFAFA;
    text-align: left;
    padding: 10px 25px;
    margin: 0px;
}
.navButton{
    font-family: 'Ubuntu', sans-serif;
    color: #FAFAFA;
    text-align: left;
}
.hero-section{
    font-family: 'Ubuntu', sans-serif;
    width: 105%;
    height: 650px;
    background: linear-gradient(0deg, rgba(97, 97, 97, 0.7), rgba(97, 97, 97, 0.7)), url(images/pexels-pixabay-461064.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px -10px;
    padding: 0px;
}
.hero-text{
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
    text-align: center;
}
.hero-text.h1{
    font-weight: 700;
}
#hero-change-text {
    font-weight: 700;
}
#hero-change-text:after {
    content:"";
    animation: spin 25s linear infinite;
}
@keyframes spin {
    0%  { content:"programmer.";}
    10% { content:"developer.";}
    20% { content:"designer.";}
    30% { content:"problem solver.";}
    40% { content:"specialist.";}
    50% { content: "programmer.";}
    60% { content: "developer.";}
    70% { content: "designer.";}
    80% { content: "problem solver.";}
    90% { content: "specialist.";}
    100% { content:"programmer.";}
}
.hero-spacer{
    height: 275px;
}
.coming-soon-section{
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
    text-align: center;
}