body{
    background-color: #424242!important;
    font-family: 'Ubuntu', sans-serif;
    color: #FAFAFA;
    scrollbar-color: dark;
    /* overflow: hidden; */
}
a{
    color: #FAFAFA!important;
}
.navBar{
    position:fixed;
    z-index:1;
    top:0;
    width:101%;
    height: 80px;
    background-color: #212121;
}
.navRow{
    width:100%;
    height: 54px;
    padding: 5px;
}
.navLogo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #FAFAFA;
    text-align: left;
    padding: 10px 25px;
    margin: 0px;
}
.navButton{
    font-family: 'Ubuntu', sans-serif;
    color: #FAFAFA;
    padding: 10px 0px;
    text-align: left;
}
.hero-section{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 500px;
    background: linear-gradient(0deg, rgba(97, 97, 97, 0.7), rgba(97, 97, 97, 0.7)), url(images/pexels-lukas-574070.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}
.hero-text{
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
    text-align: center;
}
.hero-text.h1{
    font-weight: 700;
}
#hero-change-text {
    font-weight: 700;
}
#hero-change-text:after {
    content:"";
    animation: spin 25s linear infinite;
}
@keyframes spin {
    0%  { content:"programmer.";}
    10% { content:"developer.";}
    20% { content:"designer.";}
    30% { content:"problem solver.";}
    40% { content:"specialist.";}
    50% { content: "programmer.";}
    60% { content: "developer.";}
    70% { content: "designer.";}
    80% { content: "problem solver.";}
    90% { content: "specialist.";}
    100% { content:"programmer.";}
}
.hero-spacer{
    height: 215px;
}
.skills-section{
    background-color: #424242;
    /* height: 500px; */
}
.section-heading{
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
    text-align: center;
    padding: 25px;
}
.subheading{
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px!important;
    color: #FFFFFF;
    text-align: right;
    padding: 25px;
}
.subheading-2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px!important;
    color: #FFFFFF;
    text-align: left;
    /* padding-bottom: 15px; */
}
.card-row{
    padding: 0px 50px 25px 50px;
}
.card-icon{
    color: white;
    text-align: center;
    display:block!important;
    font-size: 150px!important;
}
.card-text{
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
    text-align: left;
    padding: 25px;
}
.coming-soon-section{
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
    text-align: center;
    background-color: #212121;
}